<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common::head('글 목록')}">
</head>
<body>
<div class="p-5 mb-5 text-center bg-light">
    <h1 class="mb-3">community</h1>
    <h4 class="mb-4">커뮤니티에 오신 것을 환영합니다.</h4>
</div>
<div class="container mt-5">
    <article>
        <input type="hidden" id="post-id" th:value="${post.id}">
        <h1 th:text="${post.title}"></h1>
        <p th:text="|Posted on ${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}|"></p>
        <p th:text="${post.content}"></p>
<!--        <button class="btn btn-primary"-->
<!--                th:onclick="|location.href='@{/edit-post(id=${article.id})}'|">수정</button>-->
        <button class="btn btn-secondary" id="delete-btn">삭제</button>
    </article>
</div>

<script src="/js/post.js"></script>
</body>
</html>