<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common::head('블로그 글 목록')}">
</head>
<body>
<div class="p-5 mb-5 text-center bg-light">
    <h1 class="mb-3">community</h1>
    <h4 class="mb-4">커뮤니티에 오신 것을 환영합니다.</h4>
</div>
<div class="container">
    <button class="btn btn-secondary"
            th:onclick="|location.href='/edit-post'|">글 등록</button>
    <div class="row-6" th:each="post:${post}">
<!--        <form th:action="@{/logout}" method="post">-->
<!--            <input type="submit" class="btn btn-secondary mb-2" value="로그아웃">-->
<!--        </form>-->
        <div class="card">
            <div class="card-header" th:text="${post.id}"></div>
            <div class="card-body">
                <h5 class="card-title" th:text="${post.title}"></h5>
                <p class="card-text" th:text="${post.content}"></p>
                <a th:href="@{/api/post/{id}}" class="btn btn-primary">보러가기</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>